# Importing Pandas
Before importing Pandas, you will want to make sure the dataset that you will be working on in is the notebook file. To do this, download whatever dataset you are about to use, add it to a folder on your computer/laptop (makign sure it is saved as a csv file), then open that folder once you open up JupyterLab. In order to import pandas package, you will need to type in the words "import panda".
"as pd" is written so that pandas can be reffered to as pd throughout the process if needed. Once this is written, press both the **ctrl** and the **enter** button at the same time to activate it.

In [1]:
import pandas as pd

Numpy is also another package that is included that helps with doign any math needed in Python. To import this package, you will need to type in the words "import numpy", again "as np" is written so that numpy can be reffered to as np. Once written, press the **ctrl** and **enter** button at the same time.

In [3]:
import numpy as np

# CSV File
You will need to define whatever csv file with an object, in this case the object being represent as **ds**, but first, the csv file you are using and have exported into the working directory will need to be accessed into this data file. To do so, you will need to use **pd.read_csv()** and type in the exact name of the csv file into the parentheses. The order in which it should be typed in is the object or dataset name which is **ds**, then defining it using an equal sign (**=**), and lastly accessing the csv file with **pd.read_csv()** adding entering the name of the csv file in the parentheses. After that is written, activate it by pressing the **ctrl** and **enter** button at the same time

In [4]:
ds=pd.read_csv("CountyHealthData_2014-2015.csv")

# Filtering
Now that the csv file is in, the only information on the file that is needed is the data for North Carolina. In order to show information from only from North Carolina, you will need to filter only that portion of the dataset. This is done by using logical (true or false) conditions with nested square brackets. In these nested square brackets, there will be both inner brackets and outer brackets. Outside of both brackets, you will enter **ds**. In the very inner bracket, you will enter the word **State** in quotations, making sure the s in state is capitalized. The information stored in the outer bracket will be written as **ds == "NC"**. The inner bracket will be placed right between the ds and the double equal signs. The order should be **ds**, then an open bracket and **ds** again with another open bracket (this represents the inner bracket), the word **State** written in quotations, a closed bracket (closing the inner bracket), two equal signs, the letters **NC** written in quotations and another closed bracket (closing the outer bracket). Finally, activate it by pressing both the **ctrl** and **enter** button at the same time.

In [16]:
ds[ds["State"]== "NC"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3243,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2014,7123.0,0.192,...,10.48,0.259,0.073,8640.0,0.167,46.0,41394,0.444,4.94,0.202
3244,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2015,7291.0,0.192,...,12.38,0.249,0.088,9050.0,0.167,56.0,43001,0.455,4.60,NaN
3245,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2014,7974.0,0.178,...,22.74,0.240,0.077,9316.0,0.205,30.0,39655,0.417,6.27,0.273
3246,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2015,8079.0,0.178,...,24.04,0.239,0.076,9242.0,0.205,32.0,46064,0.449,7.20,NaN
3247,NC,South,South Atlantic,Alleghany County,37005,37005,Insuff Data,1/1/2014,8817.0,0.234,...,18.18,0.320,0.131,9585.0,0.210,55.0,34046,0.523,NaN,0.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,NC,South,South Atlantic,Wilson County,37195,37195,Region 20,1/1/2015,8028.0,0.159,...,7.31,0.262,0.079,9450.0,0.107,77.0,40772,0.556,9.60,NaN
3439,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2014,7893.0,0.207,...,18.45,0.252,0.097,10084.0,0.158,32.0,40012,0.422,3.76,0.241
3440,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2015,7258.0,0.207,...,20.21,0.242,0.094,10998.0,0.158,32.0,40998,0.455,NaN,NaN
3441,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2014,6872.0,0.193,...,20.79,0.268,0.110,7707.0,0.158,79.0,36019,0.477,NaN,0.176
3442,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2015,8917.0,0.193,...,28.02,0.246,0.091,7870.0,0.158,74.0,35866,0.469,NaN,NaN

This is the part of the dataset that will be worked on the most, so a subset name will come in handy instead of having to continually type in the same information. To do so, you will come up with a name for the dataset, this one will be called **NC_subset**, then add an equal sign and lastly take that same code that was typed in for filtering out the information for NC and add **.copy()** at the end of it. Make sure to press **ctrl** and **enter** at the same time after doing so.

In [14]:
NC_subset=ds[ds["State"]== "NC"]

Now that we have saved all of the information that is provided for North Carolina, not all of the columns will be needed. In order to only show the columns needed, you will type in the saved dataset **NC_subset** and type in **.loc** afterwards to only include the columns needed. You will then need to add an inner and outer bracket once again. The outer bracket will contain a colon(**:**) with a comma after the colon and then add an open bracket which will present the inner bracket. Into the inner bracket add the words **"State"** with a comma afterwards, then **"County"** with a comma afterwards, then **"Physical inactivity"** with a comma afterwards, then lastly **"Access to exercise opportunities"** with two closing brackets afterwards. Make sure to include the quotations for each word in too. Lastly click both the **ctrl** and **enter** button at the same time.

In [20]:
NC_subset.loc[:,["State","County","Physical inactivity","Access to exercise opportunities"]]

,State,County,Physical inactivity,Access to exercise opportunities
3243,NC,Alamance County,0.273,0.774
3244,NC,Alamance County,0.257,0.842
3245,NC,Alexander County,0.233,0.114
3246,NC,Alexander County,0.234,0.240
3247,NC,Alleghany County,0.314,0.695
...,...,...,...,...
3438,NC,Wilson County,0.302,0.541
3439,NC,Yadkin County,0.281,0.279
3440,NC,Yadkin County,0.282,0.553
3441,NC,Yancey County,0.306,1.000
3442,NC,Yancey County,0.260,1.000

Now save this condensed data as its own data by coming up with a name, this one will be called **NC_data**, and add an equal sign and the rest of the code used to create that condensed data.

In [21]:
NC_data=NC_subset.loc[:,["State","County","Physical inactivity","Access to exercise opportunities"]]

# Saving as CSV File
Now to save this information as a csv file, you will need to take **NC_data** and add **.to_csv** so that it will be saved as a csv file. Then add a parentheses and inside of the parantheses, name the file and add  quotations around the name. This particular file will be called **NC_data.csv**. To get rid of the numbers in front of information that was pulled out, you will add a comma, then a space and enter **index=False** making sure to capitalize the f in false. Lastly, press **ctrl** and **enter** at the same time.

In [22]:
NC_data.to_csv("NC_data.csv", index=False)